body{
    overflow-x: hidden;
}
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.8s ease;
}
.reveal.active1{
    transform: translateY(0px);
    opacity: 1;
}


.reveal2{
    transform-origin: bottom center;
    transform: rotateX(45deg);
    opacity: 0;
    transition: all 0.8s ease;
    animation: forwards; 
} 
.reveal2.active2{
    transform: rotateX(0deg);
    opacity: 1;
} 

.reveal4:nth-child(1).active4{
    animation: reveal4 0.8s forwards;
}
.reveal4:nth-child(2).active4{
    animation: reveal4 0.8s forwards;
    animation-delay: 0.4s;
}
.reveal4:nth-child(3).active4{
    animation: reveal4 0.8s forwards;
    animation-delay: 0.8s;
}
@keyframes reveal4 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.active span{
    color: #cc9600;
}

.revea{
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: all 0.8s ease;
}
.revea.active1{
    transform: translateX(0px);
    opacity: 1;
}

